@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #ffa3f3;
  --font-main: "Work Sans";
  --color-background: #74c69d;
}
